<header class="navbar navbar-expand-lg  position-absolute" style="top:40px;right:0;" role="banner">

  <div class="container  d-flex align-items-center  w-100" data-aos="fade-down">
    <div class="row ">

      <div class="col-3 templateux-logo ">

        <a routerLink="" class="animsition-link navbar-brand nav-link  w-100 d-flex align-items-center ">
          <img width="30" src="./assets/images/logo.png" alt="">
          Hr Comapany</a>
      </div>


      <nav class="col-8 ms-4 site-nav collapse navbar-collapse" id="mobile-menu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link animsition-link" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link animsition-link" routerLink="/hr">HR Module</a>
          </li>
          <li class="nav-item">
            <a class="nav-link animsition-link" routerLink="/sw">SW development</a>

          </li>
          <li class="nav-item">
            <a class="nav-link animsition-link" routerLink="/qa">Qa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link animsition-link" routerLink="/team">Team</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</header>
